<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
<add name="ClientID"  connectionString="7b20ab04-bc9e-4535-83e6-4ec5cbe6d98d"></add>    
<add name="TenantID"  connectionString="5cd3d2e2-ef76-46ba-9970-775b4fd35977"></add>    
  <add name="EmailAddress"  connectionString="research@simplisysltd.onmicrosoft.com"></add>    
  <add name="EmailPassword"  connectionString="Hanrahan1"></add>    
  </connectionStrings>
</configuration>